<!DOCTYPE html>
<html>
<title> Sign Up | True Citizen Bank </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }
</style>

<body
    style="background-color:#7b59d0;background-repeat: no-repeat;background-attachment: fixed;background-size: 100% 100%;background-position: center center;"
    class=" w3-center">
    
    <div style="display: none;" class="w3-overlay " style="opacity: 0.3;background-color: rgba(0, 0, 100, 0.4);"></div>
    <br>
    <br>

    {% if msg %}
    <!-- The Modal -->
    <div id="id01" style="display: block;" class="w3-modal">
        <div class="w3-modal-content">
            <div style="background-color: {{color}};" class="w3-container ">
                <span onclick="document.getElementById('id01').style.display='none'"
                    class="w3-button w3-display-topright">&times;</span>
                <p class="w3-padding w3-large" style="color: rgb(255, 255, 255);font-weight: bold;"> {{ msg | safe }} </p>
            </div>
        </div>
    </div>
    {% endif %}


    <img src="/static/banking/images/logo.png" height="45px" >

    <h2 style="font-weight:bolder" class="w3-text-white"> True Citizen Bank </h2>
    <h4 style="font-weight: bold;color: white;"> Create New Customer Account </h4>

    <form class="w3-container" method="POST" action="/create-account/">
        <legend class = "w3-center w3-padding" style="margin: auto;color: white;"> Please fill the form below with correct details </legend>
        {% csrf_token %}

        <div class="w3-row-padding">

            <div class="w3-half">

                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="firstname" type="text" placeholder="Firstname" required minlength="3"  maxlength="255">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="email" type="email" placeholder="Email Address" required minlength="8" maxlength="255">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="state" type="text" placeholder="State"  minlength="3" required maxlength = "100">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="pswd1" type="password" placeholder="Password" required minlength="8" maxlength="25">
                </div>

            </div>

            <div class="w3-half">

                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="lastname" type="text" placeholder="Lastname" required minlength="3" maxlength="25">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="age" type="number" placeholder="Age" required  min="21" max = "99">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="country" type="text" placeholder="Country" required minlength="8" maxlength="35">
                </div>
                <br>
                <div class="w3-margin">
                    <input style="width:80%;max-width: 450px;border-radius: 4px;" class="w3-padding w3-border w3-border-dark-gray w3-large"
                        name="pswd2" type="password" placeholder="Confirm Password" required minlength="8" maxlength="25">
                </div>

            </div>



        </div>

       
        <br>
        <br>
        <input style="border-radius: 5px; width: 70%;max-width: 400px;background-color: rgb(41, 2, 116);font-weight: bold;color: white;"
            type="submit" value="Create Account" class="w3-button  w3-padding-16 w3-margin-top">





    </form>

    <br>
    <br>
    <br>


    <div class="w3-bottom w3-container">
        <P style="text-shadow: 2px 2px 2px white;font-weight: bold;"> True Citizen Bank </P>
        <p style="text-shadow: 2px 2px 2px white;font-weight: bold;"> &copy {% now "Y" %} </p>
    </div>

</body>

</html>